* {
  margin: 0;
}

.App {
  text-align: center;
}


.navbar {
  background-color: steelblue !important;
}

.navbar .navbar-nav .nav-link {
  padding: 16px 20px !important;
  margin-right: 30px;

  font-weight: 600;

  text-decoration: none;
  color: #000;

  transition: 1s all ease;

  display: flex;
  align-items: center;
}

.navbar .nav-link.active {
  color: #fff;
}

.navbar .nav-link:hover {
  background-color: #fff;
  color: #000 !important;
}

.navbar .cartIcon {
  width: 44px;
  height: 44px;

  border: 2px rgba(0, 0, 0, .7) solid;
  border-radius: 50%;

  position: relative;
}

.navbar .cartIcon .fa-cart-shopping {
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

/* product card */
.card {
  min-height: 70vh;

  padding: 14px 14px 20px 14px;
}

.card .card-body {
  padding: 0;
  margin-top: 20px;
}

.card .card-img-top {
  max-height: 40vh;
}

.card .product-price {
  font-size: 30px;
}

/* plus or minus btn quantity */
.card .quantityBtns {
  width: 60%;
  margin: auto;

  display: flex;
  justify-content: space-around;
}

.card .quantityBtns .btn-dark {
  display: inline-block;
  width: 40px !important;

  font-weight: bold;
}

.card .quantityBtns .quantity {
  padding: 6px;
  font-weight: bold;
  border-radius: 6px;
}